* {
  box-sizing: border-box;
}

.header input#task{
  width: 88%;
}
.list-head .head-wrapper{
  padding: 10px 0 0;
}
.list-head .head-wrapper .item span{
  font-size: 14px;
}

.list-head .head-wrapper .item.todo{
  flex: 0 0 80%;
  max-width: 80%;
}
.list-head .head-wrapper .item.date{
  flex: 0 0 15%;
  max-width: 15%;
}
.list-head .head-wrapper .item.remove{
  flex: 0 0 5%;
  max-width: 5%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li::before{
  content: '\2713';
  position: absolute;
  left: 10px;
  opacity: 0;
  visibility: hidden;
}

ul li.active{
  border-bottom: 1px solid #fff;
}

ul li.active::before {
  opacity: 1;
  visibility: visible;
}

ul li span.list-note{
  flex: 0 0 80%;
  max-width: 80%;
}

ul li span.date{
  flex: 0 0 15%;
  max-width: 15%;
  font-size: 12px;
  text-align: center;
}

ul li button.btn {
  flex: 0 0 5%;
  max-width: 5%;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.active {
  background: #276678 !important;
  color: #fff;
}

ul li.active button.btn {
  color: #fff;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.header {
  padding: 30px 0px;
  color: white;
  text-align: center;
}

img {
  background-color: white;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.button{
  background: #276678 !important;
}

.toast{
  display: block !important;
  opacity: 0;
  visibility: hidden;
  transform: translateX(300px);
  transition: .5s all;
  -webkit-transition: .5s all;
}

.toast.active{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
